* {
    box-sizing: border-box;
}

header {
    height: 70px;
    border: 3px dashed blue;
    clear: both;
}

footer {
    height: 70px;
    border: 3px dotted purple;
    clear: both;
}

section.small {
    height: 100px;
    width: 33.3333%;
    border: 3px solid green;
    float: left;
}

section.large {
    height: 120px;
    width: 50%;
    border: 3px solid green;
    float: left;
}