<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hair Salon</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/hairsalon.css">
</head>

<body>
    <nav>
        <img src="images/ayesha.png" alt="Ayesha">
        <ul>
            <li>HOME</li>
            <li>ABOUT</li>
            <li>SERVICES</li>
            <li>LOOKBOOK</li>
            <li>NEWS</li>
            <li>CONTACT</li>
        </ul>
        <form></form>
    </nav>
    <main>

        <img src="images/look1.png" alt="mainPic">
        <h1>BLONDE & HIGHLIGHT</h1>
        <p>DIVIDE YOUR UNIQUENESS BY YOUR HAIR IN STYLE</p>
        <a href="#" alt="services">OUR SERVICES</a>
        <aside>
            <span>YOUR FIRST VISIT?</span>
            <span>-20% FOR THE FIRST CLASSIC HAIR COLORING</span>
            <a href="#" alt="book">BOOK ONLINE</a>
        </aside>
        <section>
            <section>
                <section>
                    <img src="images/doctor.png" alt="doctor">
                    <h3>EXPERT BEAUTICIANS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat placeat odio similique eaque
                        illo
                        fugit, praesentium facere doloremque hic molestiae magnam optio temporibus deleniti quod veniam
                        fuga
                        laboriosam vitae omnis?</p>
                </section>
                <section>
                    <img src="images/chair.png" alt="chair">
                    <h3>QUALITY SERVICES</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem totam animi nulla deserunt
                        harum
                        commodi perferendis inventore et, dolor rerum labore dolore aut expedita quos alias excepturi
                        sint
                        cumque nemo.</p>
                </section>
                <section>
                    <img src="images/lotion.png" alt="lotion">
                    <h3>BEAUTY PRODUCTS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illo optio repellendus doloremque
                        aliquid, sapiente repellat amet possimus est sunt voluptates recusandae hic iusto provident
                        ipsum
                        placeat. Non, vel officia!</p>
                </section>
            </section>
        </section>
    </main>
    <article>
        <h2>MAKE YOUR OWN MOMENTUM</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nemo, repellat voluptatibus iste iusto tempora
            adipisci dignissimos atque repudiandae ullam rem! Rerum, distinctio doloribus. Facere cumque modi laborum
            non facilis.</p>
        <a href="#" alt="read">READ MORE</a>
        <img src="images/lady.png" alt="lady">
        <section>
            <img src="images/ladies.png" alt="ladies">
        </section>
    </article>
    <section>
        <h3>COLOUR DAY OFFER!</h3>
        <p>-10% ON HAIRCUT COLOR AND HIGHLIGHT</p>
        <a href="#" alt="appointment">BOOK APPOINTMENT</a>
    </section>
    <section>
        <h2>OUR LOOKBOOK</h2>
        <img src="images/multiple.png" alt="multiple">
    </section>


    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>