<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Restaurant</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/restaurant.css">

</head>

<body>
    <main>
        <nav>
            <img src="images/logo.png" alt="logo">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Menu</li>
                <li>Order Now</li>
                <li>Blog</li>
                <li>Location</li>
            </ul>
        </nav>
        <section>
            <h1>Welcome To Our Cuisine Restaurant</h1>
            <form>
                <input type="text"> <input type="submit">
            </form>
            <img src="images/media.png" alt="media">
        </section>
        <img src="images/main-fruit.png" alt="background fruit">
    </main>
    <section>
        <img src="images/pie.png" alt="pie">
        <span>About us</span>
        <h2>Discover Our Restaurant Story</h2>
        <p>Cuisine is a team work of Cuisine Restaurant Cafe, we aim at promoting the foodstuff industry through the
            branches, we establish and through the new dishes, and integrate between different cultures. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quis debitis iusto in temporibus modi expedita odio reiciendis
            corrupti nemo voluptas itaque nam labore magni cumque impedit, maxime, vitae corporis id! </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit nam nulla excepturi delectus quidem
            harum. Eligendi quia tempora fugit consequuntur? Pariatur praesentium quos modi fugit</p>
        <a href-="" alt="Discover Menu"></a>
    </section>
    <section>
        <span>Order Online Now</span>
        <h2>Our Speciality Cuisine</h2>
        <ul>
            <li>Breakfast</li>
            <li>Lunch</li>
            <li>Dinner</li>
            <li>Dessert</li>
            <li>Shake</li>
        </ul>
        <img src="images/food-dishes.png" alt="food dishes">
        <img src="images/food-dishes2.png" alt="food dishes2">
    </section>
    <section>
        <span>Book Table</span>
        <h3>Opening Hours</h3>
        <img src="images/phone.png" alt="phone">
        <span>Call Now</span>
        <span>+12345 678 910</span>
        <p>Monday to Tuesday 09.00am - 22.00pm</p>
        <p>Friday to Sunday 11.00am - 20.00pm</p>
        <img src="images/fruit-bowl.png" alt="fruit bowl">
    </section>
    <section>
        <span id="testElement">Testimonials</span>
        <h3>Customers Say</h3>
        <img src="images/man.png" alt="man">
        <span>Mr John Smith</span>
        <span>Art Director</span>
        <img src="images/stars.png" alt="stars">
        <p>Delicious boneless, skinless chicken breasts and fresh mushrooms in garlic and white wine sauce. Cuisine is a
            team work of Cuisine Restaurant Cafe. We aim at promoting the foodstuff industry through the branches. We
            establish and try the new dishes.</p>
    </section>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>